:root {
    //color for neon btn
    --clr-green-neon: hsl(143, 90%, 46%);
    --clr-green-neon-bg: rgb(197, 252, 197);
    //--------------------------

    --clr-body-bg: white;

    --clr-green-bg: hsl(143, 90%, 46%);
    --clr-text: hsl(143, 90%, 46%);
    --clr-btn-text: hsl(0, 0%, 100%);
    --clr-radio-btn-checked:hsla(143, 90%, 46%, 0.322);

    // register and login page btn bg
    --clr-btn-bg: hsla(120, 90%, 88%, 0.5);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-body-bg);
}

a.nav-link {
    color: var(--clr-green-neon) !important;
}

.nav-link {
    font-size: large !important;
    margin: 0 0.75rem 0 0.75rem;
}

#logout{
    color: red!important;
}


.home-page.container {
    min-height: 80vh;
    display: grid;
    place-items: center;
}

.start-quiz-btn {
    font-size: 2rem;
    color: var(--clr-green-neon);
    display: inline-block;
    border: var(--clr-green-neon) 0.04em solid;
    cursor: pointer;
    text-decoration: none;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.5), 0 0 0.125em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-green-neon), 0 0 0.5em 0 var(--clr-green-neon);

    position: relative;

    /* transition: backgound-color 100ms linear; */
    &::before {
        pointer-events: none;
        content: "";
        position: absolute;

        background: var(--clr-green-neon);
        top: 120%;
        left: 0;
        width: 100%;
        height: 100%;

        transform: perspective(1em) rotateX(40deg) scale(1, 0.35);

        filter: blur(1em);
        opacity: 0.7;
    }

    &:hover,
    &:focus {
        /* background-color: var(--clr-green-neon); */
        color: var(--clr-green-neon-bg);
        text-shadow: none;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 2em 0.5em var(--clr-green-neon);
        background-color: var(--clr-green-neon);
        z-index: -1;
        opacity: 0;
        transition: opacity 100ms linear;
    }
    &:hover::after {
        opacity: 1;
    }
}



//quizes page
.quizes {
    * {
        color: var(--clr-text);
    }
    .nav-link,
    .btn {
        color: var(--clr-btn-text);
        background-color: var(--clr-green-bg) !important;

        &.active,
        &:hover,
        &:focus {
            // background-color: rgb(10, 209, 183);
            opacity: 0.5;
            // border: 0.2rem;
            box-shadow: 9px 14px 33px 11px rgba(0, 0, 0, 0.61);
            -webkit-box-shadow: 9px 14px 33px 11px rgba(0, 0, 0, 0.61);
            -moz-box-shadow: 9px 14px 33px 11px rgba(0, 0, 0, 0.61);
        }
    }

    input[type="radio"] {
        display: none;

        & + label:before {
            content: "";
            /* create custom radiobutton appearance */
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            padding: 2px;
            margin-right: 0.3rem;
            /* background-color only for content */
            background-clip: content-box;
            border: 2px solid var(--clr-green-bg);
            background-color: var(--clr-body-bg);
            border-radius: 50%;
        }
        /* appearance for checked radiobutton */
        &:checked + label:before {
            background-color: #93e026;

            box-shadow: 0px 0px 4px 4px var(--clr-radio-btn-checked);
            -webkit-box-shadow: 0px 0px 4px 4px var(--clr-radio-btn-checked);
            -moz-box-shadow: 0px 0px 4px 4px var(--clr-radio-btn-checked);
        }

        /* optional styles, I'm using this for centering radiobuttons */
        & + label {
            display: flex;
            align-items: center;
        }
    }
}


//result modal

#resultShowModal{
    color: var(--clr-text)!important;
    span{
        font-size: large;
        font-weight: bold;
    }
}



// user register

.registration,
.login {
    * {
        color: var(--clr-green-neon) !important;
    }

    button {
        margin: auto;
        display: block !important;
        background-color: var(--clr-btn-bg) !important;
        border-color: var(--clr-green-neon) !important;
    }

    .card {
        width: 30vw;
        margin: auto;
        margin-top: 4rem;
        align-items: center;

        .card-title {
            font-weight: 700;
            font-size: x-large;
            text-align: center;
            padding-top: 1.8rem;
        }
        .card-body {
            text-align: start;
            padding: 1.5rem;
            padding-bottom: 3rem;

            // .input-group-text{

            // }
        }
    }
}
