
:root {
    --clr-neon:hsl(143, 90%, 46%);
    --clr-bg: white;
    --clr-btn-bg: hsl(120, 90%, 88%);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body  {
    background-color: var(--clr-bg);
    
}

a.nav-link{
    color: var(--clr-neon)!important;
    
}

.nav-link{
    font-size: large!important;
    margin: 0 0.75rem 0 0.75rem;
}

.home-page.container {
    min-height: 80vh;
    display: grid;
    place-items:center;
    
}
.random-quiz {
    font-size: 2rem;
    color: var(--clr-neon);
    display: inline-block;
    border:var(--clr-neon) 0.04em solid;
    cursor: pointer;
    text-decoration: none;
    padding: 0.25em 1em;
    border-radius: 0.25em ;
    text-shadow: 
    0 0 0.125em hsla(0, 0%, 100%, 0.5),
    0 0 0.125em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon);

    position: relative;

    /* transition: backgound-color 100ms linear; */
}

.random-quiz::before{
    pointer-events: none;
    content: '';
    position: absolute;

    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);

    filter: blur(1em);
    opacity: 0.7;
}

.random-quiz:hover, .random-quiz:focus{
    /* background-color: var(--clr-neon); */
    color: var(--clr-btn-bg);
    text-shadow: none;
}

.random-quiz::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    background-color: var(--clr-neon);
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
}
.random-quiz:hover::before{
    opacity: 1;
}

.random-quiz:hover::after{
    opacity: 1;
}

button{
    color: var(--clr-neon)!important;
    background-color: var(--clr-btn-bg)!important;
}

// user register

