{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container login">

	<div class="card ">

		<form method="POST">
		{% csrf_token %}

			<h4 class="card-title">USER LOGIN</h4>
			<div class="card-body">
				<div class="input-group mb-3">
					<span class="input-group-text material-icons material-icons-outlined">perm_identity</span>
                    <input type="text" name="username" placeholder="Username..." class="form-control">
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text material-icons material-icons-outlined">lock</span>
                    <input type="password" name="password" placeholder="Password..." class="form-control" >
					
				</div>
				
				<button type="submit" class="btn btn-primary">Login</button>

		</form>

		{% for message in messages %}
			<p>message</p>
		{% endfor %}

	</div>
</div>


</div>




{% endblock body %}