{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
<div class="container registration">

	<div class="card ">

		<form method="POST">

			{% csrf_token %}

			<h4 class="card-title">REGISTER ACCOUNT</h4>
			<div class="card-body">
				<div class="input-group mb-3">
					<span class="input-group-text material-icons material-icons-outlined">perm_identity</span>
					{% render_field form.username class+="form-control" placeholder=form.username.label %}
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text material-icons material-icons-outlined">
						alternate_email
					</span>
					{% render_field form.email class+="form-control" placeholder=form.email.label %}
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text material-icons material-icons-outlined">
						lock
					</span>
					{% render_field form.password1 class+="form-control" placeholder=form.password1.label %}
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text material-icons material-icons-outlined">
						lock
					</span>
					{% render_field form.password2 class+="form-control" placeholder='Re-Enter password' %}
				</div>

				<button type="submit" class="btn btn-primary">Register Account</button>

		</form>

	</div>
</div>


</div>




{% endblock body %}